@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Noto+Sans:wght@200&family=Playball&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-color: #24c6dc;
  background-image: linear-gradient(to right, #24c6dc, #514a9d);
}

.custom-file-upload {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
}

::-webkit-scrollbar-thumb {
  background: #000;
}
